 div{
      margin-top=300px; height=1500px
 }

  li {
   float:right;
   }

   body { 
         background-color:lightgrey
       }



   ul {
        list-style-type:none;
        margin: 0;
        padding: 0;
        width=100%;
        background-color:#f1f1f1;
        overflow: auto
        position:relative;      
 }
   
  li a {
        display:block;   
        padding:14px 16px;     
        color: #000;
        text-decoration: none;
        text-align:center;
}
    li a.active {  
     
        background-color: steelblue;
        
}
   li a:hover:not(.active) {  
        background-color:turquoise; 
        overflow:auto
}
   
      
